

body {font-family: Arial, Helvetica, sans-serif;
       overflow: auto;
}

input[type=text], input[type=password],select {
    width:50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus,select {
    background-color: #ddd;
    outline: none;
}

select {
	height:40px;
}

#datepicker {
	width:700px;
}

.eligibilityBtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

#provinceinvalid {
	color:red;
	margin-right:500px;
}

#writinginvalid{
	color:red;
	margin-right:500px;
}

#listeninginvalid{
	color:red;
	margin-right:500px;
}

#speakinginvalid{
	color:red;
	margin-right:500px;
}

#readinginvalid,#totalskillinvalid,#skillinvalid,#dateinvalid{
	color:red;
	margin-right:500px;
}
	
#jobinvalid{
	color:red;
	margin-right:500px;
}

#legalinvalid{
	color:red;
	margin-right:500px;
}

button:hover {
    opacity:1;
}

.eligibilityBtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.eligibilityBtn {
  
  width: 25%;
}

.container {
    padding: 16px;
     display: block; 
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    padding-top: 0px;
  display: table-cell;
   text-align: center;
   vertical-align: middle;
   margin-top:210px;
}




hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 




@media screen and (max-width: 300px) {
    .eligibilityBtn {
       width: 100%;
    }
}

#email i {

	margin-top:30px;

}



#phone i {

	margin-top:30px;

}



#email, #phone {

	font-style: italic;

	font-weight: bold;

}



#email p {

	margin-top: -35px;

	padding-left: 222px;

}



#phone p {

	margin-top: -35px;

	padding-left: 222px;

}



#phone {

	margin-top: -70px;

	margin-left: 600px;

	width: 400px;

}



#email {

	margin-top: -50px;

	margin-left: 100px;

	width: 400px;

}



#openhours {

	margin-top: -50px;

	margin-left: 1000px;

	width: 400px;

}



#openhours p {

	margin-top: -30px;

	width: 400px;

padding-left:200px;

	font-weight:bold;


}

footer {

	padding: 60px 0;

	background-color: white;

}



#footer-info img {

	margin-left: 1100px;

}



#footer_1 {

	background-color:#d5e7f3;

	width: 1800px;

	height: 180px;

	margin-top: -69px;

	margin-left:-250px;

}



#footer_1_para2 {

	margin-top: 50px;

	margin-left: 150px;
   
}



#footer_1 a {

	color:#1c5080;

}



#footer_1 a:hover {

	color: #0f25f7;

}



#footer_2 {

	border-top: 4px solid #1c5080;

	background-color: white;

	width: 1800px;

	margin-left:-250px;

	margin-top: -18px;

	height: 100px;

}



#footer_2 p {

	margin-left:150px;

	font-weight:bold;

	margin-top:30px;

}



#footer_2 img {

	margin-top: -20px;

}



#footer_2 a {

color:#1c5080;

}





#footer-info {

	width: 380px;

	float: left;

	margin-top: 10px;

	font-size:20px;

	color:#1c5080;

}



#footer-links {

	width: 520px;

	float: right;

}



#footer-links ul {

	width: 150px;

	float: left;

	margin-left: 20px;

}



#footer-links ul li {

	margin: 10px 0;

}


header {

	height: 120px;

}



header h1 {



	margin-top: 32px;

}
.heading {

	margin-top: -110px;

	margin-left: 130px;

	font-size: 30px;

}

.headernavs nav ul {

	margin-bottom: 40px;

	margin-top: -40px;

	margin-left: 50px;


}



.headernavs nav ul li {

	float: left;

	display: inline-block;

	margin-right: 10px;

	padding-right: 100px;

	border-top: 1px solid white;

}



.headernavs nav ul li a {

	color: white;

	text-transform: uppercase;

	font-weight: bold;

	display: block;

	margin-left: 10px;

	padding-left: 10px;

}



#about {

	margin-top: -7px;

}



.headernavs nav ul li a:hover {

	color: #ac201e;

}



.tabs {

	padding-top: 20px;

	margin-left: -73px;

	padding-left: 20px;

	background-color: #1c5080;

	height: 40px;

	width: 100px;

	text-align: center;

	padding-left: 2.4px;

}



