.eduinfo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.eduinfo .edutext {
    visibility: hidden;
    width: 300px;
    height:20px;
    font-size: 15px;
    background-color: #1c5080;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 170%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.eduinfo .edutext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

.eduinfo:hover .edutext {
    visibility: visible;
    opacity: 1;
}

.proinfo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.proinfo .protext {
    visibility: hidden;
    width: 400px;
    height:20px;
    font-size: 15px;
    background-color: #1c5080;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 170%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.proinfo .protext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

.proinfo:hover .protext {
    visibility: visible;
    opacity: 1;
}