
body {

  font-family: 'Nunito', sans-serif;

  color: #384047;



}




#header {

    font-family: 'Crete Round', serif;

    font-weight: bold;

    color: #444;

    font-size: 45px;

    margin-bottom: 20px;

}



form {

  max-width: 480px;

  margin: 10px auto;

  padding: 10px 20px;

  background: #f4f7f8;

  border-radius: 8px;

}

.headernavs nav ul {

	margin-bottom: 40px;

	margin-top: 80px;

	margin-left: 200px;


}



.headernavs nav ul li {

	float: left;

	display: inline-block;

	margin-right: 10px;

	padding-right: 100px;

	border-top: 1px solid white;

}



.headernavs nav ul li a {

	color: white;

	text-transform: uppercase;

	font-weight: bold;

	display: block;

	margin-left: 10px;

	padding-left: 10px;

}



#about {

	margin-top: -7px;

}



.headernavs nav ul li a:hover {

	color: #ac201e;

}
.tabs {

	padding-top: 20px;

	margin-left: -73px;

	padding-left: 20px;

	background-color: #1c5080;

	height: 40px;

	width: 100px;

	text-align: center;

	padding-left: 2.4px;

}

#h1div {

  background-color:#1d6683;

  color:white;

  height:60px;

  margin-bottom: 10px;

}



#formheader {

  margin: 5px 0 30px 0;

  padding-top:15px;

  text-align: center;

  

}



input[type="text"],

input[type="password"],

input[type="date"],

input[type="datetime"],

input[type="email"],

input[type="number"],

input[type="search"],

input[type="tel"],

input[type="time"],

input[type="url"],

textarea,

select {

  background: rgba(255,255,255,0.1);

  border: none;

  font-size: 16px;

  height: auto;

  margin: 0;

  outline: 0;

  padding: 15px;

  width: 100%;

  background-color: #e8eeef;

  color: #8a97a0;

  

  margin-bottom: 30px;

}



input[type="radio"],

input[type="checkbox"] {

  margin: 0 4px 8px 0;

}



select {

  padding: 6px;

  height: 32px;

  border-radius: 2px;

}



button {

  padding: 19px 39px 18px 39px;

  color: #FFF;

  background-color: #1d6683;

  font-size: 18px;

  text-align: center;

  font-style: normal;

  border-radius: 5px;

  width: 100%;

  border: 1px solid #1d6683;

  border-width: 1px 1px 3px;

  box-shadow: 0 -1px 0 #1d6683 inset;

  margin-bottom: 10px;

}



fieldset {

  margin-bottom: 30px;

  border: none;

}



legend {

  font-size: 1.4em;

  margin-bottom: 10px;

}



label {

  display: block;

  margin-bottom: 8px;

}



label.light {

  font-weight: 300;

  display: inline;

}



.number {

  background-color: #1d6683;

  color: #fff;

  height: 30px;

  width: 30px;

  display: inline-block;

  font-size: 0.8em;

  margin-right: 4px;

  line-height: 30px;

  text-align: center;

  text-shadow: 0 1px 0 rgba(255,255,255,0.2);

  border-radius: 100%;

}



.heading {

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	margin-top:-103px;

	margin-left: 150px;

	font-size : 30px;

}

.floatleft {

	margin-top:-30px;

	margin-left: 30px;

	padding-top:-10px;

	

}



#pageheader {

	margin-top:100px;

	text-align: center;

	margin-left:300px;

	margin-right:300px;

	 border-bottom: 2px solid #a2251e;

	

}


#email i {
	margin-top:30px;
}

#phone i {
	margin-top:30px;
}

#email, #phone {
	font-style: italic;
	font-weight: bold;
}

#email p {
	margin-top: -35px;
	padding-left: 45px;
}

#phone p {
	margin-top: -35px;
	padding-left: 45px;
}
#phone {
	margin-top: -70px;
	margin-left: 600px;
	width: 400px;
}

#email {
	margin-top: -50px;
	margin-left: 100px;
	width: 400px;
}

#openhours {
	margin-top: -50px;
	margin-left: 1000px;
	width: 400px;
}

#openhours p {
	margin-top: -30px;
	width: 400px;
	margin-left:50px;
	font-weight:bold;
}

#footer-info img {
	margin-left: 1100px;
}

#footer_1 {
	background-color:#d5e7f3;
	width: 1800px;
	height: 180px;
	margin-top: -69px;
	margin-left:-30px;
}

#footer_1_para2 {
	margin-top: 50px;
	margin-left: 500px;
}

#footer_1 a {
	color:#1c5080;
}

#footer_1 a:hover {
	color: #0f25f7;
}

#footer_2 {
	border-top: 4px solid #1c5080;
	background-color: white;
	width: 1800px;
	margin-left:150px;
	margin-top: -18px;
	height: 100px;
}

#footer_2 p {
	margin-left:530px;
	font-weight:bold;
	margin-top:30px;
}

#footer_2 img {
	margin-top: -20px;
}

#footer_2 a {
color:#1c5080;
}

footer {
	padding: 60px 0;
	background-color: white;
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
	font-size:20px;
	color:#1c5080;
}

#footer-links {
	width: 520px;
	float: right;
}

#footer-links ul {
width: 150px;
	float: left;
	margin-left: 20px;
}

#footer-links ul li {
	margin: 10px 0;
}

